<div class="page-header">
  <h1>ShareSpot</h1>
</div>

<p>
  <%= link_to 'Post Message', new_text_post_path, class: 'btn btn-default'%>
  <%= link_to 'Post Image', new_image_post_path, class: 'btn btn-default'%>
</p>

<%= render @posts %>

<div class="paginator text-center">
  <%= will_paginate @posts %>
</div>